/*--------------------------------------------------------------------
  Scroll term
--------------------------------------------------------------------*/
.contentTerm {
    width: 100%;
    height: 8em;
    padding: 10px;
    line-height: 1.8;
    margin-top:10px
}


