@charset "UTF-8";
/*--------------------------------------------------------------------
  ポイント交換状況
--------------------------------------------------------------------*/
.contents__box:first-of-type {
  box-shadow: 0 3px 0 0 #dedede;
  margin-top: 5px;
}

.exchanges__status__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.exchanges__status__list dt,
.exchanges__status__list dd {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  padding: 10px 0;
  border-bottom: 1px dotted #b9b9b9;
  width: 50%;
}
.exchanges__status__list dd {
  text-align: right;
}
.exchanges__status__list dd span {
  font-size: 3.6rem;
  margin-right: 5px;
}
.exchanges__status__btn {
  margin: 40px auto 0;
}
.exchanges__status__btn a {
  display: block;
  color: #ffffff;
  background-color: #f39800;
  border: none;
  border-radius: 24px;
  box-shadow: 0 3px 0 0 #dedede;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  white-space: nowrap;
  margin: 20px auto 0;
  padding: 0;
  width: 160px;
  transition: 0.2s ease-in-out;
}
.exchanges__status__btn a:hover {
  opacity: 0.8;
  box-shadow: 0 1px 0 0 #dedede;
}

/*--------------------------------------------------------------------
  交換先を選択
--------------------------------------------------------------------*/
.exchanges__select {
  display: none;
  transition: 0.2s ease-in-out;
}
.exchanges__select.active {
  display: block;
  transition: 0.2s ease-in-out;
}
.exchanges__select__meta {
  font-size: 1.3rem;
  font-weight: 400;
  margin-left: 20px;
}
.exchanges__select__meta a {
  color: #fb8c00;
  text-decoration: underline;
}
.exchanges__select__meta a:hover {
  text-decoration: none;
}
.exchanges__select__tab {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0;
}
.exchanges__select__tab > li {
  width: calc((100% - 40px) / 5);
}
.exchanges__select__tab > li a {
  display: block;
  color: #f39800;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 2px 0 0 #dedede;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  white-space: nowrap;
  transition: 0.2s ease-in-out;
}
.exchanges__select__tab > li.active {
  position: relative;
}
.exchanges__select__tab > li.active::after {
  content: "";
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top: solid 10px #f39800;
  border-bottom: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  margin: auto;
}
.exchanges__select__tab > li.active a {
  color: #ffffff;
  background-color: #f39800;
}
.exchanges__select__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.exchanges__select__list > li {
  display: flex;
  margin: 10px 10px 0 0;
  width: calc((100% - 20px) / 3);
}
.exchanges__select__list > li:nth-of-type(3n) {
  margin: 10px 0 0;
}
.exchanges__select__list > li a {
  display: block;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 3px 0 0 #dedede;
  padding: 10px 15px 15px;
  transition: 0.2s ease-in-out;
}
.exchanges__select__list > li a:hover {
  opacity: 0.8;
  box-shadow: 0 1px 0 0 #dedede;
}
.exchanges__select__list__ttl {
  color: #f39800;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  min-height: 2.8em;
}
.exchanges__select__list__ttl__meta {
  color: #666666;
  font-size: 1.5rem;
  font-weight: 400;
  white-space: nowrap;
}
.exchanges__select__list__chart {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.exchanges__select__list__chart dt,
.exchanges__select__list__chart dd {
  width: 100%;
}
.exchanges__select__list__chart dt {
  background-color: #f6edd9;
  border-radius: 6px;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
}
.exchanges__select__list__chart dd {
  font-size: 1.5rem;
  margin-top: 5px;
}
/*# sourceMappingURL=exchanges.css.map */
