@charset "UTF-8";
/*--------------------------------------------------------------------
  ポイント交換状況
--------------------------------------------------------------------*/
.contents__box:first-of-type {
  box-shadow: 0 3px 0 0 #dedede;
  margin-top: 5px;
}

.exchanges__status__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.exchanges__status__list dt,
.exchanges__status__list dd {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  padding: 10px 0;
  border-bottom: 1px dotted #b9b9b9;
  width: 50%;
}
.exchanges__status__list dd {
  text-align: right;
}
.exchanges__status__list dd span {
  font-size: 3.6rem;
  margin-right: 5px;
}
.exchanges__poss__attention__ttl {
  font-size: 1.3rem;
  line-height: 1.4;
}
.exchanges__status__btn {
  margin: 40px auto 0;
}
.exchanges__status__btn a {
  display: block;
  color: #ffffff;
  background-color: #f39800;
  border: none;
  border-radius: 24px;
  box-shadow: 0 3px 0 0 #dedede;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  white-space: nowrap;
  margin: 20px auto 0;
  padding: 0;
  width: 160px;
  transition: 0.2s ease-in-out;
}
.exchanges__status__btn a:hover {
  opacity: 0.8;
  box-shadow: 0 1px 0 0 #dedede;
}

/*--------------------------------------------------------------------
  交換先を選択
--------------------------------------------------------------------*/
.exchanges__select {
  display: none;
  transition: 0.2s ease-in-out;
}
.exchanges__select.active {
  display: block;
  transition: 0.2s ease-in-out;
}
.exchanges__select__meta {
  font-size: 1.3rem;
  font-weight: 400;
  margin-left: 20px;
}
.exchanges__select__meta a {
  color: #fb8c00;
  text-decoration: underline;
}
.exchanges__select__meta a:hover {
  text-decoration: none;
}
.exchanges__select__tab {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0;
}
.exchanges__select__tab > li {
  width: calc((100% - 40px) / 5);
}
.exchanges__select__tab > li a {
  display: block;
  color: #f39800;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 2px 0 0 #dedede;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  white-space: nowrap;
  transition: 0.2s ease-in-out;
}
.exchanges__select__tab > li.active {
  position: relative;
}
.exchanges__select__tab > li.active::after {
  content: "";
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top: solid 10px #f39800;
  border-bottom: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  margin: auto;
}
.exchanges__select__tab > li.active a {
  color: #ffffff;
  background-color: #f39800;
}
.exchanges__select__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.exchanges__select__list > li {
  display: flex;
  margin: 10px 10px 0 0;
  width: calc((100% - 20px) / 3);
}
.exchanges__select__list > li:nth-of-type(3n) {
  margin: 10px 0 0;
}
.exchanges__select__list > li a {
  display: block;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 3px 0 0 #dedede;
  padding: 10px 15px 15px;
  transition: 0.2s ease-in-out;
}
.exchanges__select__list > li a:hover {
  opacity: 0.8;
  box-shadow: 0 1px 0 0 #dedede;
}
.exchanges__select__list__ttl {
  color: #f39800;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  min-height: 2.8em;
}
.exchanges__select__list__ttl__meta {
  color: #666666;
  font-size: 1.5rem;
  font-weight: 400;
  white-space: nowrap;
}
.exchanges__select__list__chart {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.exchanges__select__list__chart dt,
.exchanges__select__list__chart dd {
  width: 100%;
}
.exchanges__select__list__chart dt {
  background-color: #f6edd9;
  border-radius: 6px;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
}
.exchanges__select__list__chart dd {
  font-size: 1.5rem;
  margin-top: 5px;
}
/*# sourceMappingURL=exchanges.css.map */

.main_contents {margin:20px auto 30px; width:1080px; display:block;}
.contents {width:750px; float:left; margin-right:30px;}/*カラムの場所移動*/
.contents h2, .right_column h2 {font-size:20px; font-weight:bold; padding:0 5px; margin: 20px 0 20px 0;}

.contents .contentsbox {background-color:#ffffff; color:#333; border-radius:8px; margin-bottom:35px; padding:20px;}
.contents .contentsbox_h { width:365px;background-color:#fefadd; color:#333; border-radius:8px;margin-bottom:35px; padding:20px;}
.contents .contentsbox_onethird { width:240px;background-color:#fefadd; color:#333; border-radius:8px;margin-bottom:35px; padding:20px;}
.contents .contentsbox_onethird:nth-child(3n) {margin: 0 0 10px;}

.contents__tt{
  margin-top: 20px;
}

.major_bank {
  background-color: #ffffff;
  border-radius: 6px;
  padding: 40px;
  margin-top: 10px;
}
.major_bank:nth-of-type(n+2) {
  margin-top: 40px;
}
.major_bank input[type=text]{
  background: #f9f9f9;
  border: 1px solid #b9b9b9;
  border-radius: 6px;
  font-size: 1.5rem;
  padding: 15px;
  width: 100%;
}
.major_bank table {width: 100%;}
.major_bank table tr th {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.2;
    padding: 20px 0 10px;
    width: 100%;
}
.major_bank table tr th, .major_bank table tr td {
  display: block;
  width: 100%;
}
.major_bank table tr {
  border-bottom: 1px dotted #b9b9b9;
}
.major_bank table td {
  padding: 0 0 20px;
  width: 100%;
}
.major_bank ul{overflow: hidden;}
.major_bank li{display: inline-block;width: calc(33% - 15px);float: left;margin: 5px 15px 10px 0;}
.major_bank li:nth-child(3n){margin-right: 0;}
.major_bank li a {font-size: 16px; font-weight:bold;color: #fff;display: block;padding: 10px 15px;}

.contents .selectedbank {background-color:#ffffff; color:#333; border-radius:8px; margin-bottom:35px; padding:20px; margin-top: 10px;}
.contents .selectedbank_h { width:365px;background-color:#fefadd; color:#333; border-radius:8px;margin-bottom:35px; padding:20px;}
.contents .selectedbank_onethird { width:240px;background-color:#fefadd; color:#333; border-radius:8px;margin-bottom:35px; padding:20px;}
.contents .selectedbank_onethird:nth-child(3n) {margin: 0 0 10px;}

.selectedbank { margin-bottom:20px;}
.selectedbank .bankname { width:100%;border: 1px solid #e2e2e2;background-color: #f9f9f9;padding:10px;border-radius: 4px; font-size:18px;}
.selectedbank .fee { font-size:13px; margin-top:5px;}
.selectedbank .fee:before { content:"手数料：";}
.selectedbank p a {color:#066b74; display:inline-block; font-weight:bold; text-decoration:underline;}
.selectedbank .caution{border-radius: 8px;background: #ffffff;}
.selectedbank .caution dt { font-weight:bold; margin-bottom:5px;font-size: 16px;}
.selectedbank .caution dt span {color:#f45934;}
.selectedbank .caution dd li { list-style-type:disc; margin-left:15px;}
.selectedbank .select_account { font-size:0;}
.selectedbank .select_account li { border-radius:6px; display:inline-block; text-align:center; width:48%;}
.selectedbank .select_account li a {font-size:16px; font-weight:bold;}
.selectedbank .select_account li:first-child { margin-right:4%!Important;}
.selectedbank .select_account li:last-child a {color:#fff;}
.selectedbank .note_account { color:#c73338; font-size:14px;}
.selectedbank .select_account a{display: block;padding:10px 0;}

.search_bank .contentsbox,.list_bank .contentsbox,.exchange_individual .contentsbox{border: 1px solid #e8eaef;}
.search_bank .contentsbox form,.search_bank .contentsbox > p{width:100%;margin: 0 auto;}
.search_bank .contentsbox > p{
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.2;
    padding: 20px 0 10px;
    width: 100%;
}
.search_bank .tosearch_bank {width: 100%;height: 35px;border-radius: 4px;border: 1px solid #89909f;padding: 5px; margin-bottom:10px; background: #f9f9f9;}
.search_bank .search {color: #fff;border-width: 0 0 5px;border-style: solid;border-color: #c73338;background-color: #f45934;border-radius: 6px;text-decoration: none;text-align: center;width: 60%;font-size: 14px;font-weight: bold;padding: 10px 15px 10px 15px;margin: 5px auto 15px;display: block;cursor: pointer;}

.list_bank li { border-bottom: 1px dotted #888f9e; margin: 0;background-image: url(../images/ico-r-border.svg);background-position: 100% 50%;background-repeat: no-repeat;background-size: 15px 15px;}
.list_bank li a { font-weight:700; display: block;padding: 10px 30px 10px 0;font-size: 16px;}

.contents__wrap {
  padding: 0;
}
.contents__wrap .ttl_exchange {
  font-size: 2.1rem;
}
.contents__wrap .ttl_exchange:nth-of-type(n+2) {
  margin-top: 20px;
}
.contents__wrap .contents__box {
  background-color: #ffffff;
  border-radius: 6px;
  padding: 40px;
}
.contents__wrap .contents__box:nth-of-type(n+2) {
  margin-top: 40px;
}
.contents__wrap .contents__box input[type=text]{
  background: #f9f9f9;
  border: 1px solid #b9b9b9;
  border-radius: 6px;
  font-size: 1.5rem;
  padding: 15px;
  width: 100%;
}
.contents__wrap .contents__box table {width: 100%;}
.contents__wrap .contents__box table tr th {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.2;
    padding: 20px 0 10px;
    width: 100%;
}
.contents__wrap .contents__box table tr th, .contents__wrap .contents__box table tr td {
  display: block;
  width: 100%;
}
.contents__wrap .contents__box table tr {
  border-bottom: 1px dotted #b9b9b9;
}
.contents__wrap .contents__box table td {
  padding: 0 0 20px;
  width: 100%;
}
.contents__wrap .contents__box .contents__center__box__main {
  background-color: #f2f2f2;
  border-radius: 6px;
  padding: 10px 0px;  
  text-align: center;
  line-height: 1.2;
}
.contents__wrap .contents__box .contents__center__box__main > h3 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #fb8c00;
}
.contents__wrap .contents__box .contents__center__box__main > p {
  margin-top: 10px;
  font-size: 1.5rem;
}
.contents__wrap .contents__box .contents__center__box__text {
  margin-top: 20px;
}
.contents__wrap .contents__box .contents__center__box__text p{
  font-size: 1.5rem;
  text-align: center;
}

.btn_more { border: none; background-color:#f39800; border-radius:24px; text-align:center;}
.btn_more a {
  color:#ffffff;
  text-decoration:none;
  text-align:center;
  font-size:14px;
  font-weight:bold;
  padding: 0;
  display:block;
  font-weight: 700;
  line-height: 32px;
  transition: 0.2s ease-in-out;
}
.btn_more a:hover {
  opacity: 0.8;
  box-shadow: 0 1px 0 0 #dedede;
}

.btn_y {margin: 40px auto 0;}
.btn_y a {
  display: table;
  color: #ffffff;
  background-color: #f39800;
  border: none;
  border-radius: 24px;
  box-shadow: 0 3px 0 0 #dedede;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  white-space: nowrap;
  margin: 20px auto 0;
  padding: 0 20px;
  min-width: 160px;
  max-width: 250px;
  transition: 0.2s ease-in-out;
}
.btn_y a:hover {
  opacity: 0.8;
  box-shadow: 0 1px 0 0 #dedede;
}

/*--------------------------------------------------------------------
  サイドバー
--------------------------------------------------------------------*/
.menu_exchange h2 {font-size: 2.1rem; font-weight:bold;}
.menu_exchange li {
  margin-top: 8px;
}
.menu_exchange li a {
  display: flex;
  align-items: center;
  color: #242424;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 2px 0 0 #dedede;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: left;
  line-height: 1;
  width: 100%;
  padding: 15px;
  transition: 0.2s ease-in-out;
}
.menu_exchange li a:hover {
  opacity: 0.8;
  box-shadow: 0 1px 0 0 #dedede;
}
.menu_exchange li a i {
  display: inline-flex;
  margin-right: 10px;
  width: 20px;
}
.menu_exchange li a i img {
  margin: auto;
  width: 16px;
}
.menu_exchange li a i img.xsmall {
  width: 6px;
}
.menu_exchange li a i img.small {
  width: 12px;
}
.menu_exchange li a i img.large {
  width: 100%;
}
/*------------------------------------------------------------------*/
* {font-family: Arial,Verdana,sans-serif; font-size:14px; line-height:1.6; box-sizing:border-box;}

/*--------------------------------------------------------------------
  banks form
--------------------------------------------------------------------*/
.banks__form input[type=radio] {
  outline: none;
  color: inherit;
  font: inherit;
  line-height: 1;
  display: inline-block;
  background: #f9f9f9;
  border: 1px solid #b9b9b9;
  border-radius: 50%;
  box-sizing: border-box;
  margin: -0.25em 0.25em 0 0;
  padding: 0;
  height: 1em;
  width: 1em;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
.banks__form input[type=radio]:checked {
  background: #fb8c00;
}
.banks__form input[type=checkbox] {
  outline: none;
  color: inherit;
  font: inherit;
  line-height: 1;
  display: inline-block;
  background: #f9f9f9;
  border: 1px solid #b9b9b9;
  border-radius: 3px;
  box-sizing: border-box;
  margin: -0.25em 0.25em 0 0;
  padding: 0;
  height: 1em;
  width: 1em;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
.banks__form input[type=checkbox]:checked:before {
  content: "✔";
  color: #f39800;
  font-size: 1.25em;
  line-height: 0;
}
.banks__form input[type=text],
.banks__form textarea {
  background: #f9f9f9;
  border: 1px solid #b9b9b9;
  border-radius: 6px;
  font-size: 1.5rem;
  padding: 15px;
  width: 100%;
}
.banks__form table {
  width: 100%;
}
.banks__form table tr {
  border-bottom: 1px dotted #b9b9b9;
}
.banks__form table tr th,
.banks__form table tr td {
  padding: 30px 0;
  vertical-align: top;
}
.banks__form table tr th {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  width: 33.3333333334%;
}
.banks__form table tr th span {
  vertical-align: middle;
}
.banks__form table tr th span.necessary::after {
  content: "必須";
  color: #ffffff;
  background-color: #fb8c00;
  font-size: 1.2rem;
  margin: 0 0 0 5px;
  padding: 2px 10px;
  vertical-align: middle;
}
.banks__form table tr td {
  font-size: 1.5rem;
}
.banks__form__select {
  align-items: center;
}
.banks__form__select__inner {
  position: relative;
  margin-right: 0.25em;
}
.banks__form__select__inner:nth-child(n+2) {
  margin-left: 1em;
}
.banks__form__select__inner::after {
  content: "";
  border: 0;
  border-right: 2px solid #f39800;
  border-bottom: 2px solid #f39800;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  top: -3px;
  right: 10px;
  bottom: 0;
  margin: auto;
  width: 6px;
  height: 6px;
}
.banks__form__select__inner select {
  color: #666666;
  background: #f9f9f9;
  border: 1px solid #b9b9b9;
  border-radius: 6px;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 10px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.banks__form__select__inner select option {
  padding: 0;
}
.banks__form__select__inner select::-ms-expand {
  display: none;
  /* デフォルトの矢印を無効(IE用) */
}
.banks__form__notes {
  margin-top: 30px;
}
.banks__form__notes__box {
  border: 1px solid #b9b9b9;
  border-radius: 6px;
  margin-top: 15px;
  padding: 15px;
  height: 172px;
  overflow-y: scroll;
}
.banks__form__notes__box p {
  font-size: 1.5rem;
}
.banks__form__privacy {
  margin-top: 20px;
}
.banks__form__privacy p {
  font-size: 1.5rem;
}
.banks__form__btn {
  margin: 60px auto 0;
}
.banks__form__btn button {
  display: block;
  color: #ffffff;
  background-color: #f39800;
  border: none;
  border-radius: 32px;
  box-shadow: 0 3px 0 0 #dedede;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 64px;
  text-align: center;
  white-space: nowrap;
  margin: 0 auto;
  padding: 0;
  width: 320px;
  transition: 0.2s ease-in-out;
}
.banks__form__btn button:hover {
  opacity: 0.8;
  box-shadow: 0 1px 0 0 #dedede;
}
.banks__form .putted_area {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.banks__form .putted_area .subtraction span { color:#f45934; font-weight:bold;}
.banks__form .putted_area .total { display: flex; justify-content: space-between; border-radius:6px; padding:10px; width:100%;background: #f9f9f9;}
.banks__form .putted_area .total .amount { color:#f45934; font-weight:bold;}
.banks__form .putted_area .total .amount:after { content:"円";}
.banks__auth__btn {
  display: table;
  color: #ffffff;
  background-color: #e44f6f;
  border: none;
  border-radius: 30px;
  box-shadow: 0 2px 0 0 #dedede;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  line-height: 48px;
  min-width: 160px;
  max-width: 250px;
  margin: 30px auto 0;
  padding: 0 20px;
  transition: 0.2s ease-in-out;
  clear: both;
}
.banks__auth__btn:hover {
  opacity: 0.8;
  box-shadow: 0 1px 0 0 #dedede;
}
/* .text-link a{
  color: #066b74;
  font-weight: bold;
  text-decoration: underline;
} */
.trademark li { list-style: none !important; text-indent: -1em;}
.trademark li::before{ content: "※"; }
.trademark .no-before { text-indent: unset; margin-left: 0px !important; }
.trademark .no-before::before{ content: none; }
strong {
  font-weight: bold;
}
.trademark li { list-style: none !important; text-indent: -1em;}
.trademark li::before{ content: "※"; }
.trademark .no-before { text-indent: unset; margin-left: 0px !important; }
.trademark .no-before::before{ content: none; }
strong {
  font-weight: bold;
}
.eins {
  color: #666666;
  background: #f9f9f9;
  border: 1px solid #b9b9b9;
  border-radius: 6px;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 10px;
}
.remove_border_bottom {
  border-bottom: none !important;
}
/* テキストリンク */
.text-link a {
  color: #fb8c00;
  text-decoration: underline;
}
.text-link a:hover {
  text-decoration: none;
}

.text-link a.external {
  color: #fb8c00;
  text-decoration: underline;
}
.text-link a.external::after {
  content: url(/images/inquiries/ico_external.svg);
  display: inline-block;
  line-height: 0;
  margin: 0 3px;
  position: relative;
  top: 1px;
  width: 13px;
  height: 13px;
  text-indent: 0 !important;
}
.text-link a.external:hover {
  text-decoration: none;
}

.text-link .icon-arrowr {
  color: #fb8c00;
  font-size: 1.4rem;
  text-decoration: underline;
}
.text-link .icon-arrowr::before {
  content: "▶︎";
}

/*# sourceMappingURL=entries_create.css.map */
.clearboth { clear: both !important; }