@charset "euc-jp";
/* CSS Document */

/*#forfriends h1 {margin:0 0 20px; padding:0;}*/
#forfriends h1 {background-color: #eff1f4;border: 1px solid #e2e2e2;border-radius: 6px;color: #f45934;font-size: 32px;font-weight: bold;margin: 0 0 20px;padding: 10px;}

#forfriends .container01, #forfriends .container02 { background-color:#fefadd;padding:20px 0; border-radius:8px; margin:0;}
#forfriends .container01 h2 { background-image:url(../images/bg_introduce_name_pc.png); background-repeat:no-repeat; width:430px; height:50px; padding:10px 0 10px 10px; color:#fff; font-size:20px; font-weight:bold; float:left;}
#forfriends .container01 h2.user {float:left;}
#forfriends .container02 { background-color:#fefadd;padding:20px 0; border-radius:8px; margin-bottom:20px;}
#forfriends .container02 h2 { margin-bottom:20px;}
#forfriends .container03 {width:690px; padding:10px 0;}
#forfriends .notes h2 { font-size:20px; font-weight:bold; margin-bottom:10px; border-left:5px solid #f45934; padding-left:5px;}
#forfriends .notes ul li { list-style-type:disc; line-height:1.6; margin-left:15px;}
#forfriends .notes ul li ul.example li { list-style-type:none; margin-left:0px;}
#forfriends .notes .contentsbox {background-color: #fefadd;border-radius: 8px; color: #333;margin-bottom: 35px;padding: 20px;width: 1080px;}
#forfriends .btn_send, #forfriends a .btn_top { background-color:#f45934; font-size:20px; font-weight:bold; color:#fff; padding:15px 0; text-align:center; text-shadow:0 1px 1px #c73338; border-radius:8px; border-bottom:5px solid #c73338;}
#forfriends input.btn_blog { font-size:20px; font-weight:bold; color:#fff; padding:10px 0; text-align:center; margin:0 415px;cursor: pointer;}


#forfriends a .btn_return { background-color:#999; font-size:20px; font-weight:bold; color:#fff; padding:15px 0; text-align:center; text-shadow:0 1px 1px #666; border-radius:8px; border-bottom:5px solid #666; margin-top:20px!Important;}
#forfriends a {text-decoration:none;}
#forfriends .w250 { width:250px; margin:0 auto;}

.p_url {font-size:18px; font-weight:bold; width:336px; background-color:#FFF1A6; border-radius:4px; padding:10px; height:93px; float:left; margin-right:15px;}
.p_url .icon-link { color:#f45934;}
.p_url input {width:320px; height:1.4em; padding:5px; margin-top:5px; border:0; border-radius:4px; height:30px;}
.p_date { clear:both; margin:0 20px 20px 20px; padding-top:15px;}
.p_date #howmany { background-color:#fff1a6; border-radius:4px; padding:10px; width:336px; float:left; height:93px;}
.p_date #howmany dt {margin-bottom:5px;}
.p_date #howmany dt img { width:100%;}
.p_date #howmany dd {font-size:18px; font-weight:bold; vertical-align:middle;}
.p_date #howmany dd p { float:left; font-size:20px;}
.p_date #howmany dd .tnop {float:right; font-size:28px; color:#f45934; font-weight:bold;}
.p_date #howmany dd .tnop span {font-size:20px; color:#FF8200; font-weight:bold;}
.p_date #howmuch {border-radius:4px; padding:10px; width:336px; float:right; background-color:#fff1a6; height:93px;}
.p_date #howmuch dt, .p_date #howmany dt {font-size:18px; font-weight:bold; border-bottom:2px solid #fbb03b; padding-bottom:10px;}
.p_date #howmuch dd {font-size:28px; font-weight:bold;color:#f45934; text-align:right;}
.p_date #howmuch dd span {font-size:20px;color:#f45934; font-weight:bold;}
.p_date .icon-month, .p_date .icon-friend { font-size:20px;color:#f45934; margin-right:5px;}
#forfriends .container01 h3.explanation { background:none;font-size:24px; font-weight:bold; border-left:5px solid #FF4E50; height:auto;margin: 0 20px 20px;padding: 0 5px;}

#img_3step {margin:0 7px 20px;}
#steps {margin:0 20px 20px; font-size:0;}
#steps li { display:inline-block; width:336px; vertical-align:top; margin-right:15px; font-size:14px;}
#steps li img { width:100%;}
#steps li .img_friends { width:100%; height:150px;;}
#steps li .img_friends img { width:100%; height:auto;}
#steps li:last-child {margin-right:0;}
#steps li dt { background-color:#FFF1A6; border-bottom:1px dotted #FF8200; font-size:20px; font-weight:bold; padding:0 5px; margin-bottom:5px;}
#steps li dd { font-size:16px; padding:0 5px;}
#steps li dd span {color:#C1272D; font-size:16px; font-weight:bold;}
#steps li .formobile {color:#C1272D; font-size:14px;}

.c_c1272d {color:#c1272d;}

ul.btns { margin:25px 0; font-size:0;}
ul.btns li { margin-right:20px; width:255px;display:inline-block; box-sizing:border-box;}
ul.btns li:last-child { margin-right:0;}
ul.btns li a {display:inline-block; width:255px; height:90px; padding:10px 0; text-align:center; color:#f45934; font-weight:bold; background-color:#fff; text-decoration:none; border-color:#f45934; border-style:solid; border-width:1px 1px 5px 1px; border-radius:6px; font-size:16px;/*text-shadow: 0 1px 1px #c73338;*/}
ul.btns li a:hover { text-decoration:none;border-bottom: 5px solid #c73338;}
ul.btns li a .icon-blog, ul.btns li a .icon-inquiry, ul.btns li a .icon-blog50 { color:#f45934; font-size:36px;}
ul.btns li a .icon_sns img { width:34px; height:auto;}


#fragment-1 .put_bnr { width:400px; text-align:center; margin:0 auto 10px; height:300px;/**/ display: flex;align-items:center; justify-content:space-around; display: -webkit-flex;-webkit-align-items:center; -webkit-justify-content:space-around;text-align:center; vertical-align:middle;}
#fragment-1 .put_bnr img, #fragment-1 .put_bnr_v img { max-width:600px; height:auto;}
#fragment-1 .put_code { background-color:#eee; border:1px solid #ccc; border-radius:4px; width:98%; padding:10px; margin-bottom:20px; font-size:14px;}
.copy {text-align:center; margin-bottom:10px;}
.returntotop { margin-bottom:20px; text-align:right; color:#ff4e50;}

.exam p, .exam dd, #ui-tab_txt .put_code p, #ui-tab_txt .put_code dd { margin-bottom:1.4em;}
.exam ol, .put_code ol { padding-left:20px;}
#fragment-2 .exam {	border:1px solid #fbb03b;width:700px;border-radius:4px;padding:10px;margin:20px auto; text-align:left;}
#fragment-2 .put_code {background-color: #eee;border: 1px solid #ccc;border-radius: 4px;font-size: 14px;margin: 0 auto 20px;padding: 10px;width: 700px; /*height:90px;*/ overflow:hidden; text-align:left;}
#fragment-2 .exam_h {	border:1px solid #fbb03b;padding: 0;width:700px;border-radius:4px;margin:0 auto 20px;}

#ui-tab_t p, #conf_txt p { background-color:#FFF1A6; border-bottom:1px solid #ccc; padding:10px; border-radius:4px 4px 0 0; text-align:left;}
#ui-tab_t p span, #conf_txt p span {color:#0071bc; margin-right:0.8em; font-weight:bold;}
#ui-tab_t .temp, #conf_txt .temp { padding:10px;}
#ui-tab_t .temp p, #conf_txt .temp p {margin-bottom:1.4em; border-bottom:0; background-color:#fff; padding:0; font-weight:normal;}
#ui-tab_t .fortext {border: 1px solid #ccc;padding: 0;background: #fff;width: 560px;border-radius: 4px;padding: 0;margin: 0 10px;}

#conf_txt {background: #fff none repeat scroll 0 0;border: 1px solid #ccc;border-radius: 4px;padding: 0;width: 560px;margin: 0 10px;}
.conf_note { margin:15px 135px 0;}
#comp_note { padding:40px 0; text-align:center; font-size:32px; font-weight:bold; color:#cc0000;}

#img_blog {margin:0 17px 30px;}
.blah {width:200px; height:auto; margin-top:10px;}
#app_status { width:950px; padding:30px 75px; margin:20px 65px 30px; background-color:#FFF1A6; border-radius:6px; font-size:12px; color:#333333;}
#app_status input { width:800px; padding:10px 15px; background-color:#fff; border:1px solid #b3b3b3; border-radius:4px; margin-bottom:10px}
#app_status .e_message {color:#C73338; font-size:16px; font-weight:bold; margin-top:10px;}
#app_status .sent {color:#000; font-size:16px; text-align:center; line-height:1.6;}
#app_status .sent span {color:#cc0000; font-size:32px; font-weight:bold;}

#not_login {margin:50px auto 30px; text-align:center;color:#000; font-size:14px; line-height:1.6;}
#not_login span {color:#cc0000; font-size:32px; font-weight:bold;}
#not_login .btn_y {margin-top:20px!Important;}
#not_login .btn_y a { font-size:20px; display:block;}


#forfriends .container02 .explanation { padding:0 20px 0; clear:left;}
#forfriends .container02 .explanation h3 {}
#forfriends .container02 .explanation p { font-size:14px;}
#forfriends .container02 .explanation li { font-size:12px;}
#forfriends .container02 .explanation dl { padding:10px; border-radius:4px;}
#forfriends .container02 .explanation dt {display:inline-block; width:5em; background-color:#F15A24; color:#fff; padding:5px 0; text-align:center;border-radius:4px; margin-bottom:5px; margin-right:5px;}
#forfriends .container02 .explanation dd {display:inline-block; padding:5px 0; margin-bottom:5px;}

#forfriends .container02 .explanation dl.note_bonus dt {width: 100%;background: none;text-align: left;font-weight: bold;padding: 0; color:#333;}
#forfriends .container02 .explanation dl.note_bonus dt span {color: #f45934;}
#forfriends .container02 .explanation dl.note_bonus .annotation .samead {border: 1px solid #449097;margin-right: 3px;color: #333;font-weight: normal;font-size: 11px;padding: 1px; background-color:#fff; margin:0 2px;}

/*------------------------------------------------text for campaign*/
.bnr_camp { margin:0 20px;}
.bnr_camp img { width:100%; height:auto;}
.txt_camp01 { font-size:12px!Important; color:#333!Important;}
