@charset "UTF-8";
/*--------------------------------------------------------------------
  header contents
--------------------------------------------------------------------*/
.header__wrap:first-of-type {
  display: block;
  justify-content: space-between;
  width: 100%;
  max-width: 980px;
  margin: 40px auto 0;
  padding: 0 5%;
  box-sizing: content-box;
}
.header__wrap .contents__ttl {
  font-size: 2.1rem;
}
.header__wrap .contents__ttl:nth-of-type(n+2) {
  margin-top: 20px;
}
/*--------------------------------------------------------------------
  main contents
--------------------------------------------------------------------*/
.contents__wrap .contents__box {
  box-shadow: 0 3px 0 0 #dedede;
  margin-top: 10px;
  padding: 20px 60px 60px;
  width: 100%;
}

.content__custom {
  background: none !important;
}

.contents__wrap:nth-of-type(2) {
  margin-top: 20px;
}

.users__box {
  background-color: #ffffff;
  border-radius: 6px;
  margin-top: 5px;
  padding: 30px;
}
.users__name {
  font-size: 1.2rem;
  border-bottom: 1px dotted #b9b9b9;
}
.users__name span {
  color: #fb8c00;
  font-size: 2.1rem;
  font-weight: 700;
}
.users__flex {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.users__flex__l {
  width: 15%;
  max-width: 138px;
}
.users__flex__r {
  width: 83%;
  max-width: 760px;
}
.users__flex__r__inr {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.users__flex__r__inr__l {
  width: 64%;
  max-width: 480px;
}
.users__flex__r__inr__r {
  width: 33%;
  max-width: 250px;
}
.users__rank__thumb {
  border: 1px solid #dedede;
  border-radius: 6px;
  overflow: hidden;
}
.users__rank__txt {
  color: #fb8c00;
  border: 1px solid #fb8c00;
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: 0.3em;
  text-indent: 0.3em;
  margin-top: 15px;
}
.users__rank__normal { 

}
.users__rank__bronze { 
  border: 1px solid #836339; 
}
.users__rank__silver { 
  border: 1px solid #aeb2bd; 
}
.users__rank__gold { 
  border:1px solid #d0c131; 
}
.users__rank__platinum { 
  border:1px solid #c1cdee; 
}
.users__poss__ttl {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.4;
}
.users__poss__attention__ttl {
  font-size: 1.3rem;
  line-height: 1.4;
}
.users__poss__list ul {
  width: 100%;
}
.users__poss__list ul li {
  background-color: #f2f2f2;
  border-radius: 6px;
  padding: 10px 20px;
  text-align: right;
}
.users__poss__list ul li:nth-child(n+2) {
  margin-top: 5px;
}
.users__poss__list ul li.point {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2;
}
.users__poss__list ul li.point span {
  color: #eb332f;
  font-size: 3rem;
  margin-right: 6px;
}
.users__poss__list ul li.txt {
  font-size: 1.5rem;
}
.users__btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.users__btn__small a, .users__btn__medium a {
  display: block;
  color: #ffffff;
  background-color: #f39800;
  border: none;
  border-radius: 30px;
  box-shadow: 0 2px 0 0 #dedede;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  margin: 0 auto;
  padding: 0;
  transition: 0.2s ease-in-out;
}
.users__btn__small a:hover, .users__btn__medium a:hover {
  opacity: 0.8;
  box-shadow: 0 1px 0 0 #dedede;
}
.users__btn__small {
  width: 49%;
  line-height: 36px;
}
.users__btn__medium {
  width: 100%;
  line-height: 60px;
  margin-top: 10px;
}

.schedule__flex {
  display: flex;
  justify-content: space-between;
}
.schedule__flex__l, .schedule__flex__r {
  width: 50%;
}

.schedule_able {
  margin-top: 10px;
}
.schedule_able ul li {
  border-bottom: 1px solid #dedede;
  padding: 5px;
}
.schedule_able ul li:last-child {
  border-bottom: 1px solid #dedede;
}
.schedule_able ul li .txt {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.schedule_able ul li .date{
  display: inline-block; 
  width:100px; 
  padding-right:5px; 
  vertical-align:middle;
}
.schedule_able ul li .able__ttl {
  font-weight: 700;
  line-height: 1.4;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width:377px;
  padding-right:5px;
  vertical-align:middle;
}
.schedule_able ul li .able__ttl a {
  text-decoration: none;
  width:255px;
}
.schedule_able ul li .howmuch { 
  display: inline-block; 
  text-align:right; 
  width:80px; 
  font-size:16px; 
  color: #eb332f;
  font-weight:bold; 
  vertical-align:middle;
}
.schedule_able ul li .unit { 
  display: inline-block; 
  text-align:right; 
  width:60px; 
  vertical-align:middle;
}
.able__btn a {
  display: block;
  color: #ffffff;
  background-color: #f39800;
  border: none;
  border-radius: 30px;
  box-shadow: 0 2px 0 0 #dedede;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  line-height: 48px;
  width: 160px;
  margin: 30px auto 0;
  padding: 0;
  transition: 0.2s ease-in-out;
}

.schedule__ttl {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.4;
}
.schedule__point {
  background-color: #f2f2f2;
  border-radius: 6px;
  padding: 10px 20px;
  text-align: right;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2;
}
.schedule__point span {
  color: #eb332f;
  font-size: 3rem;
  margin-right: 6px;
}

a.textlink {
  color: #fb8c00;
  font-size: 1.3rem;
}
a.textlink::before {
  content: "▶︎";
}

.favorite {
  margin: 10px 0 20px;
}

.favorite h2 { 
  border:0; 
  font-size:18px; 
  margin-bottom:10px;
}

.favorite h2 span { 
  color:#f45934; 
  font-size:20px; 
}

.favorite__list ul {
  margin-top: 5px;
}
.favorite__list ul li:nth-child(n+2) {
  margin-top: 8px;
}
.favorite__list ul li .favorite__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 2px 0 0 #dedede;
  width: 100%;
  padding: 20px 30px;
}
.favorite__list ul li .favorite__flex__l {
  width: 160px;
}
.favorite__list ul li .favorite__flex__c {
  width: 400px;
}
.favorite__list ul li .favorite__flex__r {
  width: 30px;
}
.favorite__list ul li .favorite__thumb {
  overflow: hidden;
}
.favorite__list ul li .favorite__ttl {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
}
.favorite__list ul li .favorite__txt {
  font-size: 1.5rem;
  margin-top: 10px;
}
.favorite__list ul li .favorite__txt__custom {
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}
.favorite__list ul li .favorite__ico {
  border-radius: 3px;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}
.favorite__list ul li .favorite__ico:hover {
  opacity: 0.7;
}

.favorite__btn a {
  display: block;
  color: #ffffff;
  background-color: #f39800;
  border: none;
  border-radius: 30px;
  box-shadow: 0 2px 0 0 #dedede;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  line-height: 48px;
  width: 160px;
  margin: 30px auto 0;
  padding: 0;
  transition: 0.2s ease-in-out;
}
.favorite__btn a:hover {
  opacity: 0.8;
  box-shadow: 0 1px 0 0 #dedede;
}

.clip {
  margin: 10px 0 80px;
}

.clip__list ul {
  margin-top: 5px;
}
.clip__list ul li:nth-child(n+2) {
  margin-top: 8px;
}
.clip__list ul li .clip__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 2px 0 0 #dedede;
  width: 100%;
  padding: 20px 30px;
}
.clip__list ul li .clip__flex__l {
  width: 160px;
}
.clip__list ul li .clip__flex__c {
  width: 400px;
}
.clip__list ul li .clip__flex__r {
  width: 30px;
}
.clip__list ul li .clip__thumb {
  border: 1px solid #dedede;
  border-radius: 10px;
  overflow: hidden;
}
.clip__list ul li .clip__ttl {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
}
.clip__list ul li .clip__txt {
  font-size: 1.5rem;
  margin-top: 10px;
}
.clip__list ul li .clip__ico {
  border-radius: 3px;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}
.clip__list ul li .clip__ico:hover {
  opacity: 0.7;
}

.clip__btn a {
  display: block;
  color: #ffffff;
  background-color: #f39800;
  border: none;
  border-radius: 30px;
  box-shadow: 0 2px 0 0 #dedede;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  line-height: 48px;
  width: 160px;
  margin: 30px auto 0;
  padding: 0;
  transition: 0.2s ease-in-out;
}
.clip__btn a:hover {
  opacity: 0.8;
  box-shadow: 0 1px 0 0 #dedede;
}

/*--------------------------------------------------------------------
  user info
--------------------------------------------------------------------*/
.user_info__list {
  margin-top: 20px;
}
.user_info__list__ttl {
  font-size:2rem;
  margin-top: 20px;
}
.user_info__list__item {
  display: block;
  background: #ffebbe;
  border-radius: 6px;
  box-shadow: 0 2px 0 0 #dec896;
  font-size: 1.5rem;
  line-height: 1;
  margin-top: 10px;
  padding: 21px 30px 18px;
  width: 100%;
}
.user_info__list > .user_info__list__item p {
  display: inline-block;
}
.user_info__list > .user_info__list__item p:first-of-type { 
  width: calc(100% - 160px); 
}
.user_info__list > .user_info__list__item > .mypage_change__btn a {
  color: #ffffff;
  background-color: #f39800;
  border: none;
  border-radius: 30px;
  box-shadow: 0 2px 0 0 #dedede;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  line-height: 48px;
  width: 150px;
  padding: 0;
  transition: 0.2s ease-in-out;
  font-weight: bold;
  display: inline-block;
  float: none!Important;
}
.user_info__list > .user_info__list__item > .mypage_change__btn a:hover {
  opacity: 0.8;
  box-shadow: 0 1px 0 0 #dedede;
}
.mypage__btn a {
  display: block;
  color: #ffffff;
  background-color: #f39800;
  border: none;
  border-radius: 30px;
  box-shadow: 0 2px 0 0 #dedede;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  line-height: 48px;
  width: 200px;
  margin: 30px auto 0;
  padding: 0;
  transition: 0.2s ease-in-out;
}
.mypage__btn a:hover {
  opacity: 0.8;
  box-shadow: 0 1px 0 0 #dedede;
}

.user__tel__before {
  display: block;
  background: #ffebbe;
  border-radius: 6px;
  box-shadow: 0 2px 0 0 #dec896;
  font-size: 1.5rem;
  line-height: 1;
  margin-top: 10px;
  padding: 21px 30px 18px;
  width: 100%;
}
.user__tel__after {
  display: block;
  background: #ffebbe;
  border-radius: 6px;
  box-shadow: 0 2px 0 0 #dec896;
  font-size: 1.5rem;
  line-height: 1;
  margin-top: 10px;
  padding: 21px 30px 18px;
  width: 100%;
}

/*--------------------------------------------------------------------
  共通ユーザー入力フォーム
--------------------------------------------------------------------*/
.users__form input[type=text] {
  background: #f9f9f9;
  border: 1px solid #b9b9b9;
  border-radius: 6px;
  font-size: 1.5rem;
  padding: 15px;
  width: 100%;
}
.users__form input[type=password] {
  background: #f9f9f9;
  border: 1px solid #b9b9b9;
  border-radius: 6px;
  font-size: 1.5rem;
  padding: 15px;
  width: 100%;
}
.users__form .custom {
  border-bottom-left-radius: unset !important;
  border-bottom-right-radius: unset !important;
}

.custom-table table tr th {
  font-size: 1.5rem !important;
  font-weight: 500 !important;
}
.users__form table {
  width: 100%;
}

.custom-table table tr th {
  font-size: 1.5rem !important;
  font-weight: 500 !important;
}

.users__form table tr th {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.2;
    padding: 20px 0 10px;
    width: 100%;
}
.users__form table tr th, .users__form table tr td {
  display: block;
  width: 100%;
}
.users__form table tr {
  border-bottom: 1px dotted #b9b9b9;
}
.users__form table td {
  padding: 0 0 20px;
  width: 100%;
}

.users__change__btn__pink {
  margin-top: 30px;
}
.users__change__btn__pink button {
  display: block;
  color: #ffffff;
  background-color: #e44f6f;
  border: none;
  border-radius: 30px;
  box-shadow: 0 2px 0 0 #dedede;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  line-height: 48px;
  width: 160px;
  margin: 0 auto;
  padding: 0;
  transition: 0.2s ease-in-out;
}
.users__change__btn__pink button:hover {
  opacity: 0.8;
  box-shadow: 0 1px 0 0 #dedede;
}

.basic__change__btn a:hover {
  opacity: 0.8;
  box-shadow: 0 1px 0 0 #dedede;
}
.basic__change__btn a {
  display: block;
  color: #ffffff;
  background-color: #f39800;
  border: none;
  border-radius: 30px;
  box-shadow: 0 2px 0 0 #dedede;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  line-height: 48px;
  width: 220px;
  margin: 30px auto 0;
  padding: 0;
  transition: 0.2s ease-in-out;
}
.basic__change__btn a:hover {
  opacity: 0.8;
  box-shadow: 0 1px 0 0 #dedede;
}

.mypage__back__btn a {
  display: block;
  color: #ffffff;
  background-color: #f39800;
  border: none;
  border-radius: 30px;
  box-shadow: 0 2px 0 0 #dedede;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  line-height: 48px;
  width: 160px;
  margin: 30px auto 0;
  padding: 0;
  transition: 0.2s ease-in-out;
}
.mypage__back__btn a:hover {
  opacity: 0.8;
  box-shadow: 0 1px 0 0 #dedede;
}
.users__center__box > .users__center__box__main {
  background-color: #f2f2f2;
  border-radius: 6px;
  padding: 10px 0px;  
  text-align: center;
  line-height: 1.2;
}
.users__center__box > .users__center__box__main > h3 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #fb8c00;
}
.users__center__box > .users__center__box__main > p {
  margin-top: 10px;
  font-size: 1.5rem;
}
.users__center__box__text {
  margin-top: 20px;
}
.users__center__box__text p{
  font-size: 1.5rem;
  text-align: center;
}
.users_auth__btn {
  display: block;
  color: #ffffff;
  background-color: #e44f6f;
  border: none;
  border-radius: 30px;
  box-shadow: 0 2px 0 0 #dedede;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  line-height: 48px;
  width: 160px;
  margin: 30px auto 0;
  padding: 0;
  transition: 0.2s ease-in-out;
}
.users_auth__btn:hover {
  opacity: 0.8;
  box-shadow: 0 1px 0 0 #dedede;
}
.able {
  margin: 10px 0 20px;
}
.able_list__description {
  margin-top: 20px;
}
.able_list__description > li {
  font-size: 1.5rem;  
}
.able_list__contents > li {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 3px 0 0 #dedede;
  margin-top: 8px;
  padding: 25px 30px;
}
.able_list__contents__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;
}
.able_list__contents__flex__l, .able_list__contents__flex__r {
  width: 50%;
}
.able_list__contents__ttl {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  margin-top: 20px;
}
.able_list__contents__point {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  text-align: right;
}
.able_list__contents__point span {
  font-size: 3.6rem;
  margin-right: 5px;
}


.able__tab {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0;
}
.able__tab li {
  width: 49.214%;
}
.able__tab li a {
  display: block;
  color: #f39800;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 2px 0 0 #dedede;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  white-space: nowrap;
  transition: 0.2s ease-in-out;
}
.able__tab li.active {
  position: relative;
}
.able__tab li.active::after {
  content: "";
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top: solid 10px #f39800;
  border-bottom: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  margin: auto;
}
.able__tab li.active a {
  color: #ffffff;
  background-color: #f39800;
}
.able_list_history {
  display: block;
  transition: 0.2s ease-in-out;
}
.able_list_hisotry_list > li {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 3px 0 0 #dedede;
  margin-top: 8px;
  padding: 25px 30px;
}
.able_list_hisotry_list__contents__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;
}
.able_list_hisotry_list__contents__flex__l, 
.able_list_hisotry_list__contents__flex__r {
  width: 50%;
}
.able_list_hisotry_list__contents__date {
  font-size: 1.5rem;
}
.able_list_hisotry_list__contents__ttl {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  margin-top: 20px;
}
.able_list_hisotry_list__contents__point {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  text-align: right;
}
.able_list_hisotry_list__contents__point span {
  font-size: 3.6rem;
  margin-right: 5px;
}
.post_review__btn a{
  display: block;
  color: #ffffff;
  background-color: #e44f6f;
  border: none;
  border-radius: 30px;
  box-shadow: 0 2px 0 0 #dedede;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  line-height: 48px;
  width: 160px;
  margin: 30px auto 0;
  padding: 0;
  transition: 0.2s ease-in-out;
}

.exchange_list__contents > li {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 3px 0 0 #dedede;
  margin-top: 8px;
  padding: 25px 30px;
}
.exchange_list__contents__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.exchange_list__contents__flex__l, .exchange_list__contents__flex__r {
  width: 50%;
}
.exchange_list__contents__flex__l {
  margin-top: 20px;
}
.exchange_list__contents__ttl {
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 1;
  margin-top: 20px;
}
.exchange_list__contents__point {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  text-align: right;
}
.exchange_list__contents__point span {
  font-size: 3.6rem;
  margin-right: 5px;
}
.exchange_list__contents__error__label {
  color: #f39800;
  font-size: 1.5rem;
  text-decoration: underline;
}
.exchange_list__contents__error__label::before {
  content: "▼";
}
.exchange_list__contents__error__txt {
  color: #eb332f;
  font-size: 1.5rem;
  text-decoration: none;
}
.exchange_list__contents__error__inner {
  display: none;
}
.exchange_list__contents__error.open .exchange_list__contents__error__label::before {
  content: "▲";
}
.exchange_list__contents__error.open .exchange_list__contents__error__inner {
  display: block;
}

.stint { color:#989898; font-size:12px;}

.prefectures {
  position: relative;
}

.prefectures::after {
  content: "";
  border: 0;
  border-right: 2px solid #f39800;
  border-bottom: 2px solid #f39800;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  right: 14px;
  top: 14px;
  width: 7px;
  height: 7px;
}

.prefectures select {
  color: #f39800;
  background-color: #ffffff;
  border: 1px solid #f39800;
  border-radius: 6px;
  font-size: 1.6rem;
  text-align: center;
  padding: 10px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.prefectures select option {
  padding: 0;
}
.prefectures select::-ms-expand {
  display: none;
}

.clearfix { display: flex; justify-content: space-between; align-items: center;}
.bar_strength { width: 100%; height: 30px; border:1px solid #b9b9b9; border-radius: 6px; position: relative; border-top-left-radius: unset; border-top-right-radius: unset; background: #dddddd; border-top: none;}
.bar_strength div { content:""; height: 29px;}
.veryweak .bar_strength div {width:20%; background-color:#c73338; border-radius: 6px; border-top-left-radius: unset; border-top-right-radius: unset;}
.weak .bar_strength div {width:40%; background-color:#ff9200; border-radius: 6px; border-top-left-radius: unset; border-top-right-radius: unset;}
.good .bar_strength div {width:60%; background-color:#ffdb37; border-radius: 6px; border-top-left-radius: unset; border-top-right-radius: unset;}
.strong .bar_strength div {width:80%; background-color:#066b74; border-radius: 6px; border-top-left-radius: unset; border-top-right-radius: unset;}
.verystrong .bar_strength div {width:100%; background-color:#0669a2; border-radius: 6px; border-top-left-radius: unset; border-top-right-radius: unset;}
.notyet .bar_strength div {width:0%; background-color:#0669a2; border-radius: 6px; border-top-left-radius: unset; border-top-right-radius: unset;}
.strength { font-size:13px; position: absolute; left: 33.33%; }
.veryweak .strength:after { color:#f45934; content:"弱"; font-size:13px; font-weight:bold;}
.weak .strength:after { color:#f45934; content:"弱"; font-size:13px; font-weight:bold;}
.good .strength:after { color:#f45934; content:"中"; font-size:13px; font-weight:bold;}
.strong .strength:after { color:#f45934; content:"強"; font-size:13px; font-weight:bold;}
.verystrong .strength:after { color:#f45934; content:"強"; font-size:13px; font-weight:bold;}
.notyet .strength:after { color:#f45934; content:""; font-size:13px; font-weight:bold;}
.select_radio { margin-bottom:0px;}
.select_radio input { display:none;}
.select_radio label { line-height:2.5;}
.select_radio label span {padding-left: 25px;position:relative;margin:0 20px 0 0;}
.select_radio label span::before{content: "";display: block;position: absolute;top: 0;left: 0;width: 15px;height: 15px;border: 1px solid #89909f;border-radius: 50%;}
.select_radio input[type="radio"]:checked + span::after{content: "";display: block;position: absolute;top: 3px;left: 3px;width: 11px;height: 11px;background: #89909f;border-radius: 50%; margin-bottom:20px;}

/*======================================adjustment*/
.mt_20 {margin-top:20px;}
