@charset "utf-8";
/* CSS Document */

.reviewparts .contentsbox {background-color:#fff; padding-top:0;}

#post, #useful { /*margin-bottom:20px;*/}
#post {/*padding:15px 0;*/}
#post h3 {position: relative;height: 34px;line-height: 34px;padding: 0 .5em;background-color: #066b74;left:-30px;margin-top:10px;color:#fff; margin-bottom:15px; font-size:16px; font-weight:bold;}
#post h3::before, #post h3::after {content: '';position: absolute;}
#post h3::before {top: 100%;left: 0;border-width: 0 10px 10px 0;border-style: solid;border-color: transparent;border-right-color: #333;}
#post h3::after {top: 0;right: 0;z-index: 2;border-width: 17px 17px;border-style: solid;border-color: transparent;border-right-color: #fefadd;}
#post h3 span { color:#ffdb37; font-size:16px;}

#post .got5 {font-size:14px; font-weight:bold; text-align:center;color:#cc0000;}
#post .got5 img {width:18px; height:auto; margin-right:5px;}
#post .errand { margin:20px 0; text-align:center; color:#262626; font-size:16px; font-weight:bold;}
#post select.blackstar {/*-webkit-appearance: none;-moz-appearance: none;appearance: none;*/
padding: 10px;border: 1px solid #f45934;color:#f45934;/*border-radius:4px;*/ background-color:#fff;/*background-image: url(../images/arrow_bottom_form.png);background-repeat:no-repeat;background-position:97% center;background-size:14px;*/font-size:14px;margin:0 0 0 10px;}
#post textarea {/*-webkit-appearance: none;-moz-appearance: none;appearance: none;*/
background-color:#f0f0f0;border: 1px solid #ccc;padding:10px;font-size:13px;border-radius:4px;width:100%;margin:15px 0 5px;}
#post p.number {font-size: 12px;font-weight: bold;margin-right: 20px;text-align: right;}
#post p.p_cancel {background-color: #b3b3b3;border-bottom: 4px solid #808080;border-radius: 5px;color: #fff;font-size: 15px;font-weight: bold;margin: 20px auto 15px;padding: 10px 0;text-align: center;text-shadow: 0 1px 1px #999;width: 250px;}
#post .putbnr {text-align: center;}

a.td_none { text-decoration:none!Important;}
#post a.sname, #useful a.sname {color:#39c; font-size:14px; text-decoration:underline; display: inline-block; margin-bottom:15px; margin-top:10px;}
#post p.p_send a {color: #fff!Important; text-decoration:none;}
#post h4 { font-size:16px; font-weight:bold; margin-left:15px;}
#post h4 span { color:#f45934;}
#post .ipoints { margin:0 0 20px 30px;}
#post .ipoints li {list-style-type:disc; font-size:12px; font-weight:normal;}
#review_list li .reference ul.stars li img, #post .reference ul.stars li img {height: auto;vertical-align: top;width: 14px;}
#review_list li .reference ul.stars li, #post .reference ul.stars li {border: medium none;display: inline-block;margin: 0;padding: 0;width: 14px;}
#review_list li .reference ul.stars, #post .reference ul.stars {float: right;margin: 0;padding: 0;width: 80px;}

/*---------------------------------------around tameru review*/
.reviewparts .contentsbox {}
.reviewparts .bg_fefadd { background-color:#fefadd; padding-top:20px;}
.main_contents h1.ttl_review {background-color: #eff1f4;border: 1px solid #e2e2e2;border-radius: 8px;font-size: 21px;border: 0;padding: 10px;color: #f45934;margin: 15px;}

#post { margin-bottom:10px; background-color:#fefadd; border:1px solid #e8eaef; border-radius:8px;}
#post h2 {position: relative;height: 34px;line-height: 34px;padding: 0 .5em;background-color: #066b74;left:-10px;margin-top:10px;color:#fff; margin-bottom:15px; border-left:0;}
#post h2::before, #post h2::after {content: '';position: absolute;}
#post h2::before {top: 100%;left: 0;border-width: 0 10px 10px 0;border-style: solid;border-color: transparent;border-right-color: #333;}
#post h2::after {top: 0;right: 0;z-index: 2;border-width: 17px 17px;border-style: solid;border-color: transparent;border-right-color: #fefadd;}
#post h2 span { color:#ffdb37; font-size:20px;}
#post h3 {position: relative;height: 34px;line-height: 34px;padding: 0 .5em;background-color: #c73338;left:-10px;margin-top:10px;color:#fff; margin-bottom:15px; font-size:20px;}
#post h3::before, #post h3::after {content: '';position: absolute;}
#post h3::before {top: 100%;left: 0;border-width: 0 10px 10px 0;border-style: solid;border-color: transparent;border-right-color: #333;}
#post h3::after {top: 0;right: 0;z-index: 2;border-width: 17px 17px;border-style: solid;border-color: transparent;border-right-color: #fefadd;}
#post h3 span { color:#ffdb37; font-size:20px;}
#post .conf { padding:10px;}
#post .conf .uname {width: calc(100% - 85px);float: left; color:#89909f; font-size:11px;}
.errand { margin:10px 0; text-align:center; color:#262626; font-size:16px; font-weight:bold;}
#post .p_send {color: #fff;font-size: 15px;font-weight: bold;margin: 20px 229px;padding: 5px 0;width:250px; cursor:pointer-webkit-appearance: none;-moz-appearance: none;appearance: none;}
#post .p_cancel {background-color: #b3b3b3;border-width:0 0 5px 0; border-style:solid;border-color:#808080;border-radius: 5px;color: #fff;font-size: 15px;font-weight: bold;margin: 20px 229px 15px;padding: 10px 0;text-align: center;text-shadow: 0 1px 1px #999;width:250px;}

.finished { margin:10px 0; text-align:center; color:#c73338; font-size:21px; font-weight:bold;}
.putbnr { width:640px; margin:0 auto;}
.putbnr img { width:100%; height:auto;}
.toad {background-color: #f45934;border-bottom: 4px solid #c73338;border-radius: 5px;color: #fff;font-size: 15px;font-weight: bold;margin: 20px auto;padding: 10px 0;text-align: center;width:62%; cursor:pointer;}
.toad a {color: #fff;font-size: 15px;font-weight: bold;}

.va_m { vertical-align:middle;}

.u_reeview p.delete {background-color: #f2f2f2;color: #666;font-size: 14px;padding: 10px 0;text-align: center; margin-top:10px;}
.u_reeview p.delete .icon-delete {color: #f45934 !important;font-size: 20px;margin-right: .5em;}


ul#refinement {margin: 0 auto;width: 450px;}
ul#refinement li {display: inline;float: left;font-size: 13px;font-weight: bold;margin: 0 0 15px;padding: 10px 0;text-align: center; cursor:pointer;}
ul#refinement li#insession_on {background-color: #f45934;border-radius: 5px 0 0 5px;border-right: 1px solid #f45934;color: #fff;width: 150px; border:1px solid #f45934;}
ul#refinement li#insession_off {background-color: #fff;border-radius: 5px 0 0 5px;border-right: 1px solid #f45934;color: #f45934;text-shadow: 0 1px 1px #fff;width: 150px; border:1px solid #f45934;}
ul#refinement li#closing_on {background-color: #f45934;border-radius: 0;border-right: 1px solid #f45934;color: #fff;width: 150px; border:1px solid #f45934;}
ul#refinement li#closing_off {background-color: #fff;border-radius: 0;border-right: 1px solid #f45934;color: #f45934;text-shadow: 0 1px 1px #fff;width: 150px; border:1px solid #ff4e50;}
ul#refinement li#reslut_on {background-color: #f45934;border-radius: 0 5px 5px 0;color: #fff;width: 150px; border:1px solid #f45934;}
ul#refinement li#reslut_off {background-color: #fff;border-radius: 0 5px 5px 0;color: #f45934;text-shadow: 0 1px 1px #fff;width: 150px; border:1px solid #f45934;}

#review_list .reference, #post .reference {color:#f45934;margin: 0 !important;text-align: left;vertical-align: middle;display:block;font-size:14px; font-weight:bold;}
#review_list .reference a {color:#066b74;}
#review_list .reference a:hover { text-decoration:underline;}

#review_list .r_list a.adlink {text-decoration: none!Important;color: #066b74; font-weight:bold;}
#review_list .r_list a.adlink:hover { text-decoration:underline;color:#f45934}
#review_list li.reference {width:577px;}
#review_list li .reference ul.stars, #post .reference ul.stars {margin: 0;padding: 0;width: 80px; float:right; font-size:0;}
#review_list li .reference ul.stars li:last-child, #post .reference ul.stars li:last-child  {width: 20px !important;}
#review_list li .reference ul.stars li, #post .reference ul.stars li {display: inline-block;margin: 0;padding: 0;border:none;width:14px;}
#review_list li .reference ul.stars li img, #post .reference ul.stars li img {height: auto;vertical-align: top;width: 14px!Important;}
#review_list .u_text, #review .txt_all, #post .txt_all {font-size:14px; line-height:1.4;}
#review_list .timestamp, #post .timestamp { font-size:12px; color:#999; margin-bottom:5px;}
#review_list .u_text a {text-decoration: none!Important;color: #066b74; font-weight:normal;}

.u_reeview li.eachreview, #useful .uReview li.eachreview  {display:block;border-bottom: 1px solid #92f6ac; padding:5px 0 10px; margin-bottom:10px;}
.u_reeview li .reference a {display:inline;}
.u_reeview .u_text { width:100%;}
.u_reeview p.pushed {background-color: #f45934;border-bottom: 4px solid #c73338;border-radius: 5px;color: #fff;font-size: 15px;font-weight: bold;margin:0;padding: 10px;text-align: center;width: 150px; float:left; cursor:pointer;}
.u_reeview p.pushed span {color:#fff;}
.u_reeview p.was {background-color: #fff;border: 1px solid #f45934;border-radius: 5px;color: #f45934;font-size: 15px;font-weight: bold;margin:0;padding: 10px;text-align: center;width: 140px; float:left;}
.u_reeview p.was span {color:#f45934;}
.u_reeview p.howmany { float:right; font-size:10px;text-align: center; color:#666; padding:13px 10px; background-color:#ffc; border-radius:4px; width:190px;}
.u_reeview p.howmany { font-size:10px;text-align: center; color:#666; padding:5px 10px; background-color:#fff1a6; border-radius:4px; width:200px; display:inline-block; margin-left:5px;}
.u_reeview p.howmany span, .u_reeview p.howmany span {font-size:16px;color:#f45934; font-weight:bold; vertical-align:middle; margin-right:3px;}
.va_m { vertical-align:middle;}

.u_reeview p.delete {background-color: #f2f2f2;color: #666;font-size: 14px;padding: 10px 0;text-align: center; margin-top:10px;}
.u_reeview p.delete .icon-delete {color: #f45934 !important;font-size: 20px;margin-right: .5em;}
.u_reeview .more, #useful .more {color: #f45934;font-size: 14px;font-weight: bold;padding: 10px 0 15px;text-align: center; cursor:pointer;}
.u_reeview .more p, #useful .more p {background-color: #f45934;border-radius: 16px;color: #fff;display: inline-block;font-size: 18px;height: 16px;line-height: 1;margin: 0 5px 0 0;text-align: center;vertical-align: top;width: 16px;}

.zero .solicitation span {color: #f45934; font-weight:bold;}
.zero a .btn_tolist {background-color: #f45934;border-bottom: 4px solid #c73338;border-radius: 5px;color: #fff;font-size: 15px;font-weight: bold;margin: 20px auto 0;padding: 10px;text-align: center;width: 150px;cursor: pointer;}
