@charset "utf-8";
/* CSS Document */

.contents__box {background-color:#fff; padding-top:0;}
.sitemap > .contents__box h2 { margin-bottom:10px;}
.sitemap > .contents__box > ul { margin-bottom:20px;}
.sitemap > .contents__box > ul > li {padding:10px 5px; border-bottom:1px dotted #ccc;}
.sitemap > .contents__box > ul > li > ul { margin-top:10px;}
.sitemap > .contents__box > ul > li > ul > li {padding:10px 0 10px 1em;border-top:1px dotted #ccc;}
.sitemap > .contents__box > ul > li > ul > li:last-child { padding-bottom:0;}
.sitemap .contents__box li a {color: black;}
.sitemap .contents__box li a:hover {color:#f45934; text-decoration:underline;}

.icon-arrowr {
    color: #fb8c00
}
