@charset "utf-8";
/* CSS Document */

.contentsbox {background-color:#fff; padding-top:0;}
.sitemap > .contentsbox h2 { margin-bottom:10px;}
.sitemap > .contentsbox > ul { margin-bottom:20px;}
.sitemap > .contentsbox > ul > li {padding:10px 5px; border-bottom:1px dotted #ccc;}
.sitemap > .contentsbox > ul > li > ul { margin-top:10px;}
.sitemap > .contentsbox > ul > li > ul > li {padding:10px 0 10px 1em;border-top:1px dotted #ccc;}
.sitemap > .contentsbox > ul > li > ul > li:last-child { padding-bottom:0;}
.sitemap .contentsbox li a {color:#066b74;}
.sitemap .contentsbox li a:hover {color:#f45934; text-decoration:underline;}