.header__breadcrumb {
    width: 100%;
    overflow-x: scroll;
    word-break: keep-all;
    white-space: nowrap;
}

.header__breadcrumb ol {
    width: 100%;
    max-width: 980px;
    margin: 0;
    padding: 8px 5%;
    box-sizing: border-box;
    position: relative;
    list-style-type: none;
}

.header__breadcrumb li {
    display: inline;
    position: relative;
    padding-right: 14px;
    padding-left: 10px;
    font-size: 12px;
}

.header__breadcrumb li:last-of-type {
    padding-right: 5%;
}

.header__breadcrumb li:first-of-type {
    padding-left: 0;
}

.header__breadcrumb li:not(:last-of-type)::after {
    content: "";
    display: inline;
    position: absolute;
    width: 0.7rem;
    height: 0.7rem;
    top: 50%;
    right: 0;
    border-width: 0.1rem;
    border-color: #999;
    border-right-style: solid;
    border-bottom-style: solid;
    transform: translateY(-50%) rotate(-45deg);
}

.header__breadcrumb li a {
    color: #fb8c00;
    text-decoration: underline;
}