/*--------------------------------------------------------------------
  Scroll term
--------------------------------------------------------------------*/
.contentTerm {
    width: 100%;
    padding: 10px;
    line-height: 1.8;
    margin-top:20px
}