@charset "utf-8";

.contents__wrap {
  width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  position: relative;
  z-index: 1;
}
.contents__wrap .contentsbox {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 3px 0 0 #dedede;
  margin-top: 20px;
  padding: 20px 20px 40px;
  width: 100%;
}
.contents__wrap .contentsbox .maintenance p {
  font-size: 1.3rem;
  margin: 0px auto 20px;
}
.contents__wrap .contentsbox section div.btn_y a {
  display: block;
  color: #ffffff;
  background-color: #f39800;
  border: none;
  border-radius: 30px;
  box-shadow: 0 3px 0 0 #dedede;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
  white-space: nowrap;
  margin: 40px auto 0;
  padding: 0;
  width: 66.6666666667%;
  transition: 0.2s ease-in-out;
}
