/*--------------------------------------------------------------------
  notes
--------------------------------------------------------------------*/
main:not(.program) .notes {
    color: #908d8d;
    font-size: 1.2rem;
    line-height: 1.2;
  }
  main:not(.program) .notes:not(:first-child) {
    margin-top: 4px;
  }
  main:not(.program) .notes > li {
    position: relative;
    padding-left: 1.2rem;
  }
  main:not(.program) .notes > li::before {
    content: "※";
    position: absolute;
    top: 0;
    left: 0;
  }
  main:not(.program) .notes > li + * {
    margin-top: 2px;
  }
