@charset "UTF-8";
/*--------------------------------------------------------------------
  いま聞きたい！デイリーアンケート
--------------------------------------------------------------------*/
.daily__que {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.daily__que__img {
  width: 50px;
}
.daily__que__txt {
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 1em;
}
.daily__que__txt span {
  color: #eb332f;
}
.daily__form {
  margin-top: 20px;
}
.daily__form__label label {
  display: block;
  background: #ffebbe;
  border-radius: 6px;
  box-shadow: 0 2px 0 0 #dec896;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  margin-top: 10px;
  padding: 18px 20px 15px;
  width: 100%;
}
.daily__form__label label input[type=radio] {
  outline: none;
  color: inherit;
  font: inherit;
  line-height: 1;
  display: inline-block;
  background: #ffffff;
  border-radius: 50%;
  box-sizing: border-box;
  margin: -0.25em 0.75em 0 0;
  padding: 0;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
.daily__form__label label input[type=radio]:checked {
  background: #f39800;
}
.daily__form__txt {
  color: #f39800;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
}
.daily__form__txt::before {
  content: "＼";
  margin-right: 0.5em;
}
.daily__form__txt::after {
  content: "／";
  margin-left: 0.5em;
}
.daily__form__txt span {
  color: #eb332f;
}
.daily__form button {
  display: block;
  color: #ffffff;
  background-color: #ccc;
  border: none;
  border-radius: 24px;
  box-shadow: 0 2px 0 0 #dedede;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 48px;
  margin: 20px auto 0;
  padding: 0;
  width: 90%;
  transition: 0.2s ease-in-out;
}

.getapoint {
  display: block;
  color: #ffffff;
  background-color: #f39800;
  border: none;
  border-radius: 24px;
  box-shadow: 0 2px 0 0 #dedede;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 48px;
  margin: 5px auto 0;
  margin-top: 20px;
  padding: 0;
  width: 90%;
  transition: 0.2s ease-in-out;
}
.getapoint:hover {
  opacity: 0.8;
  box-shadow: 0 1px 0 0 #dedede;
}
a.textlink__arrow {
  color: #fb8c00;
  font-size: 1.4rem;
  text-decoration: underline;
}
a.textlink__arrow::before {
  content: "▶︎";
}

/*--------------------------------------------------------------------
  開催中のアンケート
--------------------------------------------------------------------*/
.hold__list__question {
  margin-top: 10px;
}
.hold__list__question a {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  background-image: url(/images/inquiries/ico_external.svg);
  background-position: top 15px right 10px;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  border: 1px solid #f39800;
  border-radius: 6px;
  padding: 10px;
  transition: 0.2s ease-in-out;
}
.hold__list__question a:hover {
  opacity: 0.8;
}
.hold__list__question a .ttl {
  width: 100%;
  color: #fb8c00;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 10px;
}
.hold__list__question a .limit {
  width: fit-content;
  background-color: #e5ff34;
  font-size: 1.2rem;
  line-height: 1.2;
  padding: 5px 10px;
}
.hold__list__question a .txt {
  width: fit-content;
  font-size: 1.4rem;
  text-align: right;
}
.hold__list__answered {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  background-image: url(/images/inquiries/ico_external.svg);
  background-position: top 15px right 10px;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  border: 1px solid #f39800;
  border-radius: 6px;
  padding: 10px;
  transition: 0.2s ease-in-out;
}
.hold__list__answered .ttl {
  width: 100%;
  color: #fb8c00;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 10px;
}
.hold__list__answered .limit {
  width: fit-content;
  background-color: #e5ff34;
  font-size: 1.2rem;
  line-height: 1.2;
  padding: 5px 10px;
}
.hold__list__answered .txt {
  width: fit-content;
  font-size: 1.4rem;
  text-align: right;
}
.hold__list__pager {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 20px;
}
.hold__list__pager__on, .hold__list__pager__off, .hold__list__pager__blank {
  border: 1px solid #f39800;
  border-radius: 6px;
  font-size: 1.4rem;
  line-height: 40px;
  text-align: center;
  margin: 0 2px;
  width: 40px;
  height: 40px;
}
.hold__list__pager__on {
  color: #ffffff;
  background-color: #f39800;
}
.hold__list__pager__off, .hold__list__pager__blank {
  color: #f39800;
}
.hold__list__pager__off a, .hold__list__pager__blank a {
  color: #f39800;
}

/*--------------------------------------------------------------------
  デイリーアンケートの結果
--------------------------------------------------------------------*/
.result__list {
  margin-top: 20px;
}
.result__list ul li {
  border-top: 1px solid #dedede;
}
.result__list ul li:last-child {
  border-bottom: 1px solid #dedede;
}
.result__list ul li a {
  display: block;
  padding: 10px 0;
  transition: 0.2s ease-in-out;
}
.result__list ul li a .data {
  color: #b9b9b9;
  font-size: 1.2rem;
  font-weight: 700;
}
.result__list ul li a .ttl {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4;
}
.result__list ul li a:hover {
  background-color: rgba(246, 237, 217, 0.4);
}

/*--------------------------------------------------------------------
  デイリーアンケートバックナンバー
--------------------------------------------------------------------*/
.backnumber dl {
  margin-top: 20px;
}
.backnumber dl dt {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
}
.backnumber dl dd ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.backnumber dl dd ul li {
  margin: 10px 10px 0 0;
  width: calc(25% - 7.5px);
}
.backnumber dl dd ul li:nth-child(4n) {
  margin-right: 0;
}
.backnumber dl dd ul li a {
  display: block;
  color: #fb8c00;
  border: 1px solid #fb8c00;
  border-radius: 6px;
  font-size: 1.5rem;
  line-height: 40px;
  text-align: center;
  transition: 0.2s ease-in-out;
}
.backnumber dl dd ul li a:hover {
  opacity: 0.8;
}

/*--------------------------------------------------------------------
  スタッフおすすめ広告
--------------------------------------------------------------------*/


.contentsbox a .reco1 {
  display: inline-flex;
  align-items: center;
}
.contentsbox a .reco1 .eins { 
  font-size: 1.3rem;
  background-color: #f45934;
  color: #fff;
  padding: 2px 10px;
  border-radius: 13px;
  margin-right: 5px;
}
.contentsbox a .reco1 .zwei {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #066b74;
  font-weight: bold;
  margin-right:150px; 
  font-size: 1.5rem;
}
.contentsbox a .reco1 .drei {
  font-size: 1.5rem;
  text-align:right;
  font-weight:bold;
  color: #eb332f;
}
.contentsbox a .reco1 .drei span {
  font-size: 1.5rem; 
  font-weight:bold;
  margin-right:3px; 
  color: #eb332f;
}

/*--------------------------------------------------------------------
  人気のポイ活お得情報
--------------------------------------------------------------------*/
.recipe__list ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  overflow-x: unset;
  overflow-y: unset;
}
.recipe__list ul li {
  margin: 8px 0 0;
  width: 49%;
  min-width: 49%;
}
.recipe__list ul li a {
  display: block;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 2px 0 0 #dedede;
  width: 100%;
  height: 100%;
  transition: 0.2s ease-in-out;
}
.recipe__list ul li a:hover {
  opacity: 0.8;
  box-shadow: 0 1px 0 0 #dedede;
}
.recipe__thumb {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
  border-radius: 6px 6px 0 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.recipe__thumb::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.recipe__content {
  padding: 10px;
}
.recipe__ttl {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
  margin: 0 0 10px;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 3;
}
.recipe__date, .recipe__clip {
  color: #666666;
  font-size: 1.2rem;
  line-height: 1.4;
  text-align: right;
}
.recipe__clip span {
  color: #eb332f;
}