@charset "utf-8";
/* CSS Document */

.bnr_top h1, h1.out_h1 {color:#89909f; font-size:14px; padding:5px; text-align:center;}
.newarrivals ul{}
.newarrivals li{ display: inline-block; clear:both; width:100%; padding-bottom:10px; margin-bottom:10px;border-bottom:1px solid #92f6ac;}
.newarrivals li .date {font-size:12px; color:#979797; margin-bottom:.5em;}
.newarrivals li .date .condition {background-color:#f45934; color:#fff; border-radius:2px; font-size:10px; margin-left:1em; padding:3px;}
.newarrivals li dt {width:calc(100% - 220px);overflow: hidden;text-overflow: ellipsis;white-space: nowrap; float:left; color:#066B74; font-size:16px; font-weight:bold;}
.newarrivals li dd { float:right; font-size:12px;}
.newarrivals li dd span { font-size:18px; color:#F45934; font-weight:bold; margin-right:.5em;}

.pickup ul, .tieup ul { }
.pickup li, .tieup li { display: inline-block; clear:both; width:100%; padding-bottom:10px; margin-bottom:10px;border-bottom:1px solid #92f6ac;}
.pickup li a dt, .tieup li a dt {width:130px; float:left;}
.pickup li a dt.imgbox img { height:60px; max-width:120px; width:auto;}
.tieup li a dt.imgbox img { height:100px; max-width:100px; width:auto;}
.pickup li a dd, .tieup li a dd {font-size:14px; width:calc(100% - 130px);margin-left: 130px;}
.pickup li a dd.heading, .tieup li a dd.heading {font-size:18px; font-weight:bold;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.pickup li a dd.elements, .tieup li a dd.elements { display:flex;align-items: center;}
.pickup li a dd p.acquisition {width:calc(100% - 210px); display:inline-block; margin-right:10px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.pickup li a dd p.earning { width:10em; display:inline-block;}
.pickup li a dd p.cp { width:210px; display:inline-block; text-align:right; font-size:12px;}
.pickup li a dd p.cp span {font-size:18px; font-weight:bold; margin-right:3px; color:#f45934;}


.newrecipe li { width:710px; padding-bottom:10px; margin-bottom:10px;border-bottom:1px solid #92f6ac;}
.newrecipe .eins img {box-sizing:border-box; width:250px; height:auto; border:2px solid #92f6ac; float:left; margin-right:20px;}
.newrecipe .eins dl { float:right;width:100%;}
.newrecipe .eins dd.heading { font-size:24px; font-weight:bold;}
.newrecipe .eins dd { font-size:14px;}
.newrecipe .eins .txt_blog {overflow: hidden;height: 50px; margin-bottom:.5em;}/* overflow:hidden、heightは必ず指定する */
.newrecipe .eins dd.date { font-size:12px;width: calc(100% - 270px);font-size:12px; color:#979797; margin-bottom:.5em; margin-left:270px; text-align:right;}
.newrecipe .eins dd.helpful { font-size:12px; width:13em; float:right; text-align:right;}
.newrecipe .eins dd.helpful span {color:#f45934; font-weight:bold;}
.newrecipe ul { list-style-type:none; margin-top:10px; padding-top:10px;}
.newrecipe li.zwei, .newrecipe li.drei, .newrecipe li.vier {clear:both;list-style-type:none; display: inline-block; clear:both; width:100%; padding-bottom:10px; margin-bottom:10px;border-bottom:1px solid #92f6ac; font-size:16px;}
.newrecipe a .heading { font-weight:bold; font-size:16px;} 
.newrecipe .zwei a .heading, .newrecipe .drei a .heading, .newrecipe .vier a .heading {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.newrecipe .zwei .date, .newrecipe .drei .date, .newrecipe .vier .date {color:#979797; font-size:12px; text-align:right;}
.newrecipe .zwei img, .newrecipe .drei img, .newrecipe .vier img, .newrecipe .zwei .txt_blog, .newrecipe .drei .txt_blog, .newrecipe .vier .txt_blog, .newrecipe .zwei .helpful, .newrecipe .drei .helpful, .newrecipe .vier .helpful { display:none;}


.reciperank li dl { width:670px; margin-left:40px;}
.reciperank li:first-child dt { width:250px; height:auto; float:left; margin-right:20px;}
.reciperank li:first-child dt img { width:100%; height:auto; border:2px solid #92f6ac; display:inline-block;}
.reciperank li dt img { display:none;}
.reciperank li:nth-child(1n) { background-image:url(../images/ico_ranking1.svg); background-repeat:no-repeat; background-size:30px 30px; background-position-y: 50%;}
.reciperank li:nth-child(2n) { background-image:url(../images/ico_ranking2.svg); background-repeat:no-repeat; background-size:30px 30px; background-position-y: 50%;}
.reciperank li:nth-child(3n) { background-image:url(../images/ico_ranking3.svg); background-repeat:no-repeat; background-size:30px 30px; background-position-y: 50%;}
.reciperank li:nth-child(4n) { background-image:url(../images/ico_ranking4.svg); background-repeat:no-repeat; background-size:30px 30px; background-position-y: 50%;}
.reciperank li { padding-bottom:20px; margin-bottom:10px; border-bottom: 1px solid #92f6ac;
display: inline-block; clear:both; width:100%; padding-bottom:10px; margin-bottom:10px;border-bottom:1px solid #92f6ac;font-size:16px; background-repeat:no-repeat; background-position:left top;}
.reciperank li:first-child dd.heading {font-size: 24px;font-weight: bold;}

.reciperank dd.date { font-size: 12px;width: 7em;float: left;font-size: 12px;color: #979797;margin-bottom: .5em;}
.reciperank dd.helpful {font-size: 12px;width: 13em;float: right;text-align: right;}
.reciperank .helpful span {font-size: 12px;text-align: right;color: #f45934;font-weight: bold;}
.reciperank li:nth-child(2n) .txt_blog, .reciperank li:nth-child(3n) .txt_blog, .reciperank li:nth-child(4n) .txt_blog, .reciperank li:nth-child(2n) .date, .reciperank li:nth-child(3n) .date, .reciperank li:nth-child(4n) .date { display:none;}
.reciperank ul {clear:both; list-style-type:none;}
.reciperank a dd.heading { font-weight:bold; font-size:16px;} 

.servicerank ul {clear:both;list-style-type:none; margin-top:10px; padding-top:10px;}
.servicerank a li { display: inline-block; clear:both; width:100%; padding-bottom:10px; margin-bottom:10px;border-bottom:1px solid #92f6ac; padding-left:50px; font-size:16px; background-repeat:no-repeat; background-position:left 15px; padding-left:40px;}
.servicerank a li .heading { font-weight:bold; font-size:16px;} 
.servicerank a li.eins { background-image:url(../images/ico_ranking1.svg); background-size:30px 30px;}
.servicerank a li.zwei { background-image:url(../images/ico_ranking2.svg); background-size:30px 30px;}
.servicerank a li.drei { background-image:url(../images/ico_ranking3.svg); background-size:30px 30px;}
.servicerank a li.vier { background-image:url(../images/ico_ranking4.svg); background-size:30px 30px;}
.servicerank a li .bnrbox img { width: 120px; max-height: 100px; float:left;}
.servicerank a li .bnrbox { width:120px; height: auto; float:left;}
.servicerank a li dl { float:right; width:530px;}
.servicerank a li .cp {font-size:12px;}
.servicerank a li .cp span { font-size:20px; font-weight:bold; color:#f45934; margin-right:.5em;}
.servicerank a li .balloon .txt_popular { font-size:14px;}

.newreview a li .heading { font-weight:bold; font-size:14px;} 
.newreview a li .uname  { font-weight:bold; font-size:12px; color:#f45934;} 
.newreview a li { display: inline-block; clear:both; width:100%; padding-bottom:10px; margin-bottom:10px;border-bottom:1px solid #92f6ac;}
.newreview a li .uname {width:20em; float:left;}
.newreview a li .evaluation { width:100px; float:right;}
.newreview a li .evaluation ul.stars {margin: 0;padding: 0;width: 80px;}
.newreview a li .evaluation ul.stars li:last-child {width: 20px !important;}
.newreview a li .evaluation ul.stars li {display: inline-block;margin: 0;padding: 0;border:none;width:14px;}
.newreview a li .evaluation ul.stars li img {height: auto;vertical-align: top;width: 14px;}
.newreview a li .txt_ureview {clear:both; font-size:14px;padding: 10px 0 0;}
.newreview a li .txt_ureview a {color:#066b74; font-size:12px;}

.pearsonal a li { list-style-position:inside; list-style-image: display: inline-block;width:100%; padding-bottom:10px; margin-bottom:10px;border-bottom:1px solid #92f6ac; font-size:14px; font-weight:bold;}
.lately {float:left;}
.lately a li { background-image:url(../images/ico_listcheck.svg); background-repeat:no-repeat; background-position:0 5px; background-size:16px 16px;padding-left:20px;}
.favorite {float:right;}
.favorite a li { background-image:url(../images/ico_listfav.svg) ; background-repeat:no-repeat; background-position:0 5px; background-size:16px 16px;padding-left:20px;}

.timesale .counter {text-align:center;}

/*notlogin*/
.iwrapper_reg a img { width:350px; height:65px;}

/* jquery.ellipsis */
.ellip {display: block;height: 100%;}
.ellip-line {display: inline-block;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;max-width: 100%;}
.ellip, .ellip-line {position: relative;overflow: hidden;}

/* add classicstores */
.classicstores .storesbox {background-color: #fff;border-radius: 8px;color: #333;margin-bottom: 35px;padding: 15px 0 0;}
.classicstores .storesbox .eachstore { font-size:0;}
.classicstores .storesbox .eachstore li { width:180px; margin:0 10px 10px 0; background-color:#fefadd; border-radius:8px; display:inline-block; text-align:center; height:200px; padding:10px; font-size:14px;}
.classicstores .storesbox .eachstore li:nth-child(4n) {margin:0 0 10px 0;}
.classicstores .storesbox .eachstore li a dt { font-size:14px; font-weight:bold; height:3.2em; overflow:hidden; color:#066B74;}
.classicstores .storesbox .eachstore li a:hover dt { text-decoration: underline;color:#f45934;}
.classicstores .storesbox .eachstore li a dd { font-size:28px; font-weight:bold; color:#F45934; line-height:1.2;}
.classicstores .storesbox .eachstore li a dd.box_bnr {display: flex;align-items:center; justify-content:space-around; display: -webkit-flex;-webkit-align-items:center; -webkit-justify-content:space-around;text-align:center; vertical-align:middle;min-height: 100px;height: auto; width:100%; margin:0 auto;}
.classicstores .storesbox .eachstore li a dd span { font-size:28px; color:#f45934;}
.classicstores .storesbox .eachstore li a dd img {max-height:100px; width:auto; max-width:120px;}

/* box_list */
.boxlist { margin-bottom:35px;}
.boxlist ul {font-size:0;display: -webkit-inline-box;display: -ms-inline-flexbox;display: inline-flex; width:750px;}
.boxlist li {display: inline-block;height: 180px;margin: 0 22px 10px 0;padding: 10px;text-align: center;width: 171px;background-color: #fefadd;border-radius: 8px; vertical-align:middle; font-size:14px;}
.boxlist li:nth-child(4n) {margin: 0 0 10px;}
.boxlist li dt {font-size: 16px;font-weight: bold;height: 3.2em; margin-bottom:5px; overflow:hidden;}
.boxlist li dt a:hover { text-decoration:underline;color: #ff4e50;}
.boxlist li dd {color: #ff4e50;font-size: 36px;font-weight: bold;line-height: 1;}
/*.boxlist li.continue { background-color:#FF4E50;}*/
.boxlist li.btn_more a { display:block; padding-bottom:50px;}
.boxlist li.btn_more a p {color:#fff; font-size:24px; font-weight:bold; padding-top:35px;}
.boxlist li.btn_more { background-color:#f45934!Important;}