/*--------------------------------------------------------------------
  top non
--------------------------------------------------------------------*/
.top__entry {
  background-color: #ffe9a4;
}
.top__entry__bg {
  background-image: url(/images/top/entry_bg.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 78% auto;
  padding: 30px 0;
}
.top__entry__btn a {
  display: block;
  color: #ffffff;
  background-color: #e44f6f;
  border: none;
  border-radius: 30px;
  box-shadow: 0 3px 0 0 #dedede;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  white-space: nowrap;
  margin: 0 0 0 auto;
  padding: 0;
  width: 250px;
  position: relative;
  transition: 0.2s ease-in-out;
}
.top__entry__btn a:hover {
  opacity: 0.8;
  box-shadow: 0 1px 0 0 #dedede;
}
.top__entry__btn a::before {
  content: "無料";
  color: #242424;
  background-color: #f3d925;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  margin: auto;
}
.top__entry__btn a::after {
  content: "";
  width: 8px;
  height: 8px;
  border: 0;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
  margin: auto 0;
}
.top__about {
  background-color: #ffffff;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 20px 0 80px;
}
.top__about__inner {
  margin: auto;
  max-width: 620px;
}
.top__about__point {
  width: 100%;
}
.top__about__point ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.top__about__point ul li {
  display: flex;
  width: 100%;
}
.top__about__point ul li:nth-child(n+2) {
  margin-top: 10px;
}
.top__about__point ul li .num {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3d925;
  border-radius: 6px 0 0 6px;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  width: 60px;
}
.top__about__point ul li .txt {
  display: flex;
  align-items: center;
  color: #ffffff;
  background-color: #f39800;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  padding: 0 15px;
  width: calc(100% - 60px - 320px);
}
.top__about__point ul li .image {
  background-color: #f2f2f2;
  border-radius: 0 6px 6px 0;
  text-align: center;
  padding: 10px 0;
  width: 320px;
}
.top__about__point ul li .image img {
  width: 212px;
}
.top__about__ttl {
  display: block;
  color: #fb8c00;
  border: 2px solid #f39800;
  border-radius: 6px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.3;
  text-align: center;
}
.top__about__save {
  margin-top: 20px;
  width: 100%;
}
.top__about__save ul {
  display: flex;
  width: 100%;
}
.top__about__save ul li {
  width: 33%;
}
.top__about__save ul li .txt {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
.top__about__save ul li .image {
  text-align: center;
  margin-top: 5px;
}
.top__about__save ul li .image img {
  width: 96px;
}
.top__about__exchange {
  margin-top: 10px;
  width: 100%;
}
.top__about__exchange ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.top__about__exchange ul li {
  margin-top: 10px;
  width: 33.3333333333%;
}
.top__about__exchange ul li .image {
  text-align: center;
}
.top__about__exchange ul li .image img {
  width: 80%;
}
.top__about__suggest {
  margin-top: 20px;
}
.top__about__suggest ul li .txt {
  font-size: 1.5rem;
}
.top__about__suggest ul li .txt::before {
  content: "●";
  color: #f39800;
}
.top__about .top__entry__btn a {
  margin: 40px auto 0;
  width: 400px;
}
/*--------------------------------------------------------------------
  slide show
--------------------------------------------------------------------*/
.top__fv .swiper-container.swiper1 .swiper-wrapper .swiper-slide {
  /* border-bottom: 3px solid #dedede; */
  box-sizing: content-box;
  width: 640px;
  height: 400px;
}
.top__fv .swiper-container.swiper1 .swiper-wrapper .swiper-slide .slide-img a {
  transition: 0.2s ease-in-out;
}
.top__fv .swiper-container.swiper1 .swiper-wrapper .swiper-slide .slide-img a:hover {
  opacity: 0.7;
}
.top__fv .swiper-container.swiper1 .swiper-wrapper .swiper-slide-next {
  opacity: 0.8;
}
.top__fv .swiper-container.swiper1 .swiper-wrapper .swiper-slide-prev {
  opacity: 0.8;
}
.top__fv .swiper-pagination1 {
  font-size: 0;
  text-align: center;
  position: relative;
}
.top__fv .swiper-pagination1 .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #ffffff;
  opacity: 1;
  margin: 16px 5px 0;
}
.top__fv .swiper-pagination1 .swiper-pagination-bullet-active {
  background: #e44f6f;
}

/*--------------------------------------------------------------------
  main contents
--------------------------------------------------------------------*/
.top__ttl {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.top__ttl:nth-of-type(n+2) {
  margin-top: 20px;
}
.top__ttl__jp {
  font-size: 1.8rem;
  font-weight: 700;
}
.top__ttl__en {
  color: #fb8c00;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  display: flex;
  align-items: center;
}
.top__ttl__tag {
  color: #ffffff;
  background-color: #eb332f;
  border-radius: 6px;
  font-size: 1.6rem;
  margin-left: 20px;
  padding: 8px;
}
.top__ttl__link {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1;
  padding-right: 20px;
  position: relative;
}
.top__ttl__link::after {
  content: "";
  width: 9px;
  height: 9px;
  border: 0px;
  border-top: solid 2px #f39800;
  border-right: solid 2px #f39800;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 3px;
  bottom: 0;
  margin: auto 0;
}
.top__ttl__link:hover {
  text-decoration: underline;
}

.top__list__3col {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}
.top__list__3col > li {
  width: calc((100% - 10px) / 3);
}
.top__list__3col > li:nth-of-type(n+2) {
  margin-left: 10px;
}
.top__list__3col > li a {
  display: block;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 2px 0 0 #dedede;
  width: 100%;
  padding: 25px 20px 15px;
  transition: 0.2s ease-in-out;
}
.top__list__3col > li a:hover {
  opacity: 0.8;
  box-shadow: 0 1px 0 0 #dedede;
}
.top__list__3col > li a .top__list__3col__thumb {
  width: 112px;
  height: 112px;
  margin: auto;
}
.top__list__3col > li a .top__list__3col__countdown {
  color: #eb332f;
  border: 1px solid #eb332f;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
}
.top__list__3col > li a .top__list__3col__ttl {
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 10px;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 1;
}
.top__list__3col > li a .top__list__3col__txt1, .top__list__3col > li a .top__list__3col__txt2 {
  color: #666666;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 5px 0 15px;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
}
.top__list__3col > li a .top__list__3col__txt1 {
  -webkit-line-clamp: 1;
}
.top__list__3col > li a .top__list__3col__txt2 {
  -webkit-line-clamp: 2;
}
.top__list__3col > li a .top__list__3col__linethrough {
  color: #666666;
  font-size: 1.6rem;
  line-height: 1;
  text-align: center;
  text-decoration: line-through;
}
.top__list__3col > li a .top__list__3col__point {
  color: #eb332f;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
}
.top__list__3col > li a .top__list__3col__point.arrow {
  position: relative;
  vertical-align: middle;
}
.top__list__3col > li a .top__list__3col__point.arrow::before {
  content: "";
  background: url(../images/common/ico_arrow.svg) no-repeat center center / auto 100%;
  position: relative;
  display: inline-block;
  top: -3px;
  width: 18px;
  height: 10px;
}
.top__list__campaign {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
}
.top__list__campaign > li {
  margin-top: 10px;
  width: 49.2857%;
}
.top__list__campaign > li a {
  display: block;
  box-shadow: 0 2px 0 0 #dedede;
  width: 100%;
  transition: 0.2s ease-in-out;
}
.top__list__campaign > li a:hover {
  opacity: 0.8;
  box-shadow: 0 1px 0 0 #dedede;
}
.top__list__shopping {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0 80px;
}
.top__list__shopping > li {
  width: calc((100% - 10px) / 4);
}
.top__list__shopping > li:nth-of-type(n+2) {
  margin-left: 10px;
}
.top__list__shopping > li a {
  display: block;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 2px 0 0 #dedede;
  width: 100%;
  padding: 25px 20px 15px;
  transition: 0.2s ease-in-out;
}
.top__list__shopping > li a:hover {
  opacity: 0.8;
  box-shadow: 0 1px 0 0 #dedede;
}
.top__list__shopping > li a .top__list__shopping__thumb {
  width: 96px;
  height: 96px;
  margin: auto;
}
.top__list__shopping > li a .top__list__shopping__ttl {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  height: 4.6rem;
  text-align: center;
  margin-top: 15px;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 2;
}
.top__list__shopping > li a .top__list__shopping__point {
  color: #eb332f;
  font-size: 1.6rem;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
}
.top__list__shopping > li a .top__list__shopping__point span {
  font-size: 3rem;
}

.top__ranking {
  display: none;
  transition: 0.2s ease-in-out;
}
.top__ranking.active {
  display: block;
  transition: 0.2s ease-in-out;
}
.top__ranking__tab {
  display: flex;
  justify-content: space-around;
  background-color: #f39800;
  border-radius: 6px;
  margin-top: 10px;
  padding: 10px 30px;
}
.top__ranking__tab > li a {
  display: block;
  color: #ffffff;
  border-radius: 15px;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 30px;
  padding: 0 30px;
  transition: 0.2s ease-in-out;
}
.top__ranking__tab > li a:hover {
  opacity: 0.8;
}
.top__ranking__tab > li.active a {
  color: #fb8c00;
  background-color: #ffffff;
  font-size: 1.6rem;
  font-weight: 700;
}
.top__ranking__list {
  height: 740px;
}
.top__ranking__list > li {
  margin-top: 10px;
}
.top__ranking__list > li a {
  display: flex;
  justify-content: flex-start;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 2px 0 0 #dedede;
  padding: 20px;
  width: 100%;
  transition: 0.2s ease-in-out;
}
.top__ranking__list > li a:hover {
  opacity: 0.8;
  box-shadow: 0 1px 0 0 #dedede;
}
.top__ranking__list > li a .top__ranking__list__num {
  display: flex;
  width: 60px;
}
.top__ranking__list > li a .top__ranking__list__num img {
  margin: auto;
  width: 60px;
  height: 38px;
}
.top__ranking__list > li a .top__ranking__list__thumb {
  width: 100px;
  height: 100px;
  margin-left: 20px;
}
.top__ranking__list > li a .top__ranking__list__thumb img {
  width: 100%;
}
.top__ranking__list > li a .top__ranking__list__contents {
  width: 460px;
  margin-left: 20px;
}
.top__ranking__list > li a .top__ranking__list__contents__ttl {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 1;
}
.top__ranking__list > li a .top__ranking__list__contents__txt {
  color: #666666;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 5px;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 1;
}
.top__ranking__list > li a .top__ranking__list__contents__point {
  color: #eb332f;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 700;
  text-align: right;
  margin-top: 15px;
}

.top__pickup {
  color: #fb8c00;
  /* background-color: #ffffff; */
  border-radius: 6px;
  margin-top: 20px;
  padding: 30px 0 20px;
  position: relative;
}
.top__pickup__ttl {
  text-align: center;
  margin-bottom: 30px;
}
.top__pickup__ttl__jp {
  color: #242424;
  font-size: 1.8rem;
  font-weight: 700;
}
.top__pickup__ttl__en {
  color: #fb8c00;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
}
.top__pickup .swiper-container.swiper2 .swiper-wrapper .swiper-slide {
  border-bottom: 2px;
  box-sizing: content-box;
  width: 180px;
  height: 250px;
}
.top__pickup .swiper-container.swiper2 .swiper-wrapper .swiper-slide a {
  display: block;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 2px 0 0 #dedede;
  width: 100%;
  padding: 25px 20px 15px;
  transition: 0.2s ease-in-out;
}
.top__pickup .swiper-container.swiper2 .swiper-wrapper .swiper-slide a:hover {
  opacity: 0.7;
  box-shadow: 0 1px 0 0 #dedede;
}
.top__pickup .swiper-container.swiper2 .swiper-wrapper .swiper-slide a .slide-img {
  transition: 0.2s ease-in-out;
  height: 96px;
  width: 96px;
  margin: auto;
}
.top__pickup .swiper-container.swiper2 .swiper-wrapper .swiper-slide .top__pickup__list__shopping__ttl {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  height: 4.6rem;
  text-align: center;
  margin-top: 15px;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 2;
  color: #242424;
}
.top__pickup .swiper-container.swiper2 .swiper-wrapper .swiper-slide .top__pickup__list__shopping__point {
  color: #eb332f;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
}

.top__pickup .swiper-pagination2 {
  font-size: 0;
  text-align: center;
  position: relative;
}
.top__pickup .swiper-pagination2 .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: rgba(243, 152, 0, 0.5);
  opacity: 1;
  margin: 20px 5px 0;
}
.top__pickup .swiper-pagination2 .swiper-pagination-bullet-active {
  background: #f39800;
}
.top__pickup .swiper-button-prev,
.top__pickup .swiper-button-next {
  margin-top: 0;
  top: 60px;
  width: 10px;
  height: 18px;
}
.top__pickup .swiper-button-prev {
  left: 30px;
}
.top__pickup .swiper-button-prev::after {
  content: "";
  width: 9px;
  height: 9px;
  border: 0px;
  border-left: solid 2px #f39800;
  border-bottom: solid 2px #f39800;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  top: 0;
  left: 3px;
  bottom: 0;
  margin: auto 0;
}
.top__pickup .swiper-button-next {
  right: 30px;
}
.top__pickup .swiper-button-next::after {
  content: "";
  width: 9px;
  height: 9px;
  border: 0px;
  border-top: solid 2px #f39800;
  border-right: solid 2px #f39800;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 3px;
  bottom: 0;
  margin: auto 0;
}
